<header>
  <div>FHIR Project</div>
  <button mat-stroked-button color="primary" routerLink="/form">
    Fill Questionnaire
  </button>
</header>

<content>
  <div>
    <mat-table *ngIf="patientData; else loader" [dataSource]="patientData">
      <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tableColumns"></mat-row>
      <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef>Patient ID</mat-header-cell>
        <mat-cell *matCellDef="let patient">{{ patient.id }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="gender">
        <mat-header-cell *matHeaderCellDef>Gender</mat-header-cell>
        <mat-cell *matCellDef="let patient">{{ patient.gender }}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="resourceType">
        <mat-header-cell *matHeaderCellDef>Resource Type</mat-header-cell>
        <mat-cell *matCellDef="let patient">{{
          patient.resourceType
        }}</mat-cell>
      </ng-container>
    </mat-table>

    <ng-template #loader>
      <div class="loader"></div>
    </ng-template>
  </div>
</content>
<footer><div>&copy; Copyright FHIR 2021</div></footer>
